h1
{
	text-align:center;
}

.mainimg
{
	margin-left:25%;
}

html
{
	background-color:#d6f3fc;
}

.caption
{
	margin-left:5%;
}

.list2
{
	margin-left:50%;
}

.list2head
{
	margin-top:-22%;
}